<div class='uk-grid'>
	<div class='uk-width-1-10'>
		<img src='<%= resume._gravatarUrl %>'>
	</div>
	<div class='uk-width-1-2 uk-grid'>
		<h1 class='uk-width-1-1'><%= resume.name %></h1>
		<h3 class='uk-width-1-1 uk-text-muted'><%= resume.email %></h3>
	</div>
</div>
<hr class='uk-divider'>

<% if (resume.experienceSummary) { %>
	<div class='uk-grid'>
		<div class='uk-width-1-1'>
			<h2>Experience Summary</h2>
			<ul class=''>
				<% resume.experienceSummary.forEach(function(exp) { %>
					<li><%= exp %></li>
				<% }); %>
			</ul>
		</div>
	</div>
<% } %>

<% if (resume.skills) { %>
	<div class='uk-grid'>
		<div class='uk-width-1-1'>
			<h2>Skills</h2>
			<dl class='uk-description-list-horizontal'>
				<% resume.skills.forEach(function(skill) { %>
					<dt><%= skill.name %></dt>
					<dd><%= skill.detail %></dd>
				<% }); %>
			</dl>
		</div>
	</div>
<% } %>

<% if (resume.experienceDetail) { %>
	<div class='uk-grid'>
		<div class='uk-width-1-1'>
			<h2>Experience Detail</h2>
			<% resume.experienceDetail.forEach(function(exp) { %>
					
					<div class='uk-width-1-1 uk-grid'>
						<div class='uk-width-1-2'>
							<h3 class='uk-text-bold'><%= exp.company %> - <span class='uk-text-muted'><%= exp.title %></span></h3>
						</div>
						<div class='uk-width-1-2'>
							<h4 class='uk-text-bold'><%= exp.from %> - <%= exp.to %></h4>
						</div>
						<div class='uk-width-1-1'></div>
						<div class='uk-width-1-2'>
							<h4>Responsibilities</h4>
							<ul>
								<% exp.responsibilities.forEach(function(r) { %>
									<li><%= r %></li>
								<% }); %>
							</ul>
						</div>
						<div class='uk-width-1-2'>
							<h4>Accomplishments</h4>
							<ul>
								<% exp.accomplishments.forEach(function(a) { %>
									<li><%= a %></li>
								<% }); %>
							</ul>
						</div>
					</div>
					
			<% }); %>
		</div>
	</div>	
<% } %>